### Algerian Forest Fire

### Problem Statement 

To find whether there will fire or not.

#### Data Set Information:

-> The dataset includes 244 instances that regroup a data of two regions of Algeria,namely the Bejaia region located in the      northeast of Algeria and the Sidi Bel-abbes region located in the northwest of Algeria.
-> 122 instances for each region.
-> The period from June 2012 to September 2012.
-> The dataset includes 11 attribues and 1 output attribue (class)
-> The 244 instances have been classified into â€˜fireâ€™ (138 classes) and â€˜not fireâ€™ (106 classes) classes.

#### Attribute Information:

In [1]:
1. Date : (DD/MM/YYYY) Day, month ('june' to 'september'), year (2012)
Weather data observations
2. Temp : temperature noon (temperature max) in Celsius degrees: 22 to 42
3. RH : Relative Humidity in %: 21 to 90
4. Ws :Wind speed in km/h: 6 to 29
5. Rain: total day in mm: 0 to 16.8
FWI Components
6. Fine Fuel Moisture Code (FFMC) index from the FWI system: 28.6 to 92.5
7. Duff Moisture Code (DMC) index from the FWI system: 1.1 to 65.9
8. Drought Code (DC) index from the FWI system: 7 to 220.4
9. Initial Spread Index (ISI) index from the FWI system: 0 to 18.5
10. Buildup Index (BUI) index from the FWI system: 1.1 to 68
11. Fire Weather Index (FWI) Index: 0 to 31.1
12. Classes: two classes, namely â€œFireâ€ and â€œnot Fireâ€

SyntaxError: invalid syntax (2218848459.py, line 1)

In [ ]:
#import library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
plt.style.use('ggplot')
warnings.filterwarnings("ignore")
%matplotlib inline

In [ ]:
#import dataset
df = pd.read_csv('Algerian_forest_fires_dataset_UPDATE.csv',header = 1)

In [2]:
df.head()

NameError: name 'df' is not defined

In [ ]:
#Observations: 
#1. From index 0 to 122 we had Bejai region.  
#2. From index 123 to 124 we had blanks and header rows.
#3. From index 125 onwards we had SidiBel region.

In [ ]:
#Creating the clean dataset.Drop the irrelevant rows.
df.drop(index = [122,123,124],inplace = True)

# Creating new index
df.reset_index(drop = True, inplace = True) 
df['region'] = 0

# separating the dataset based on the location 
for i in range(len(df)):    
    if i < 123:
        df['region'][i] =  1
    else:
        df['region'][i] = 0

In [ ]:
df.columns

In [ ]:
#Observations:
#Column names has extra spaces at the end 
#Removing extra spaces from column names.

In [ ]:
for col in df.columns:
    df.rename(columns = {col: col.strip()}, inplace = True)

In [ ]:
df.columns

In [ ]:
data.iloc[164,:]

Observation:
1. Data at index 164 has 

column | Value
------|---------
DC |  14.6 9
ISI | 12.5
BUI | 10.4
FWI | fire
Class | nan

This means entry has been shifted to left thus creating the problem.

2. The data need to be corrected as 

column | Value
------|---------
DC |  14.6 
ISI | 9 
BUI | 12.5
FWI | 10.4
Class | fire

In [ ]:
# correcting row data
df.at[164, 'DC'] = 14.6
df.at[164, 'ISI'] = 9
df.at[164, 'BUI'] = 12.5
df.at[164,'FWI'] = 10.4
df.at[164,'Classes'] = 'fire'

In [ ]:
df.head()

In [ ]:
#Year column has ony one type of entry and hence not suitable for any analysis
#Day column has no impact on the fire.

In [ ]:
#Dropping the year & day column
df.drop(columns = ['year', 'day'], inplace = True)

In [ ]:
df['Classes'].unique()

In [ ]:
#Column 'classes' names have extra spaces in entries.

In [ ]:
#Removing the extra spaces from the entries in column Classes
df['Classes'] = [i.strip() for i in df['Classes']]

In [ ]:
#Checking the data types of each columns

In [ ]:
df.dtypes

In [ ]:
#Columns 'day, 'Temperature', ' RH', ' Ws', 'Rain ','FFMC', 'DMC', 'DC', 'ISI', 'BUI', 'FWI' are having categorical data and they need to be numerical. 
#Columns 'region' need to be categorical.

In [ ]:
#Converting the data types of columns
cols = ['month', 'Temperature', 'RH', 'Ws', 'Rain','FFMC', 'DMC', 'DC', 'ISI', 'BUI', 'FWI']
df[cols] = df[cols].apply(pd.to_numeric)
df['region'] = df['region'].apply(str)

In [ ]:
df.shape

In [ ]:
df.describe()

In [ ]:
df.isna().sum()

In [ ]:
# dividing the data into categorical and numerical column
numerical_features = [col for col in df.columns if df[col].dtypes != 'O']
categorical_features = [col for col in df.columns if df[col].dtypes == 'O']

# print columns
print('We have {} numerical features : {}'.format(len(numerical_features), numerical_features))
print('\nWe have {} categorical features : {}'.format(len(categorical_features), categorical_features))

In [ ]:
df.isna().sum()

In [ ]:
#checking for balanced dataset

In [ ]:
for col in categorical_features:
    print(df[col].value_counts(normalize=True) * 100)
    print('--------'*10)

In [ ]:
#Data set is balanced ie equally divided into its categories

In [ ]:
#Univariate analysis

In [ ]:
# categorical columns
plt.figure(figsize=(10,10))
plt.suptitle('Univariate Analysis of Categorical Features', fontsize=15, fontweight='bold', alpha=1)
categorical_features = [col for col in df.columns if df[col].dtypes == 'O']

for i in range(0, len(categorical_features)):
    plt.subplot(2, 2, i+1)
    sns.countplot(x=df[categorical_features[i]])
    plt.xlabel(categorical_features[i])

In [ ]:
#Category wise dataset is balanced

In [ ]:
#Numerical Columns

In [ ]:
plt.figure(figsize=(10, 10))
plt.suptitle('Univariate Analysis of Numerical Features', fontsize=15, fontweight='bold', alpha=1.)

for i in range(0, len(numerical_features)):
    plt.subplot(5, 3, i+1)
    sns.kdeplot(x=df[numerical_features[i]],shade=True, color='b')
    plt.xlabel(numerical_features[i])
    plt.tight_layout()

In [ ]:
#1.'Temperature','RH','Ws' columns are normally distributed. 
#2.Rain column has outliers
#3.'FFMC' column is left skewed
#4.'DMC',  'DC',  'ISI',  'BUI',  'FWI' columns are right skewed

In [ ]:
#Multivariate analysis

In [ ]:
#Checking for multicolinearity

In [ ]:
# In numerical column
plt.figure(figsize = (15,10))
#matrix = np.triu(df.corr())
sns.heatmap(df.corr(), annot=True)
plt.yticks(rotation=45)
plt.show()

In [ ]:
#1. DC and DMC columns are highly correlated
#2. BUI Column has very high correlation with DMC and DC columns
#3. FWI is very highly correlated with ISI column
#4. FWI is highly correlated with BUI column

In [ ]:
#Relation between feature and label column

In [ ]:
feature = df.drop(columns = 'Classes')
feature.columns

In [ ]:
#Here we will make an approach to understand the relation between the various columns with the column 'Classes'.

In [ ]:
feature_continuous = [col for col in feature.columns if df[col].dtypes != 'O']
feature_numeric = [col for col in feature.columns if df[col].dtypes == 'O']

In [ ]:
fig = plt.figure(figsize=(15, 50))
plt.suptitle('Box Plot between feature and continuous label ', fontsize = 20, y = 1)

for i in range(0, len(feature_continuous)):
    ax = plt.subplot(10, 3, i+1)
    sns.boxplot(data = df, x = 'Classes', y = df[feature_continuous[i]])
    plt.tight_layout()

In [ ]:
# Checking for month column for impact on fire 
plt.title('Bar graph showing the incident of fire in various month')
sns.countplot(data= df, hue = 'Classes', x= 'month', palette = "muted");

In [ ]:
# Checking for region column for impact on fire 
plt.title('Bar graph showing the incident of fire in various region')
sns.countplot(data= df, hue = 'Classes', x= 'region', palette = "muted");

Preliminary Conclusions:

1.If the temperature increases there is increase in the chance of fire.
2.If the humidity increases there is slight decrease in the chance of fire.
3.Wind speed has no impact on fire
4.If rain is increased then chance of fire is significantly decreased
5.If FFMC > 80 chance of fire is very high
6.If DMC > 10 chance of fire is very high
7.If DC > 50 chance of fire is very high
8.If ISI > 5 chance of fire is very high
10.9.If BUI > 15 chance of fire is very high
11.If FWI > 5 chance of fire is very high
12.Chances of fire in month of june and august is high